@use "../../sassStyles/" as *;

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: toRem(307);
  min-height: toRem(500);
  padding: toRem(48);
}

.orange {
  background-color: $brightOrange;
}

.darkCyan {
  background-color: $darkCyan;
}

.veryDarkCyan {
  background-color: $veryDarkCyan;
}

.title {
  font-family: $big-shoulders;
  font-weight: 700;
  color: $veryLightGray;
  font-size: toRem(40);
}

.description {
  font-family: $lexend;
  font-weight: 400;
  font-size: toRem(15);
  color: $veryLightGray;
  line-height: toRem(25);
}

.learn-more-btn {
  background-color: $veryLightGray;
  width: toRem(146);
  height: toRem(48);
  border-radius: toRem(25);
}

.left-side-clmn {
  border-radius: toRem(8) 0 0 toRem(8);
}

.right-side-clmn {
  border-radius: 0 toRem(8) toRem(8) 0;
}
