@use "../../sassStyles/" as *;

.column-container {
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 307px;
  min-height: 500px;
  padding: 48px;
}

.orange {
  background-color: $brightOrange;
}

.darkCyan {
  background-color: $darkCyan;
}

.veryDarkCyan {
  background-color: $veryDarkCyan;
}
